<%- include('partials/header'); %>
<h1>Users</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem officiis, rerum
  repellat blanditiis ut saepe tempora, quaerat labore necessitatibus nihil
  similique veritatis quidem in reiciendis quam aliquam velit dignissimos quo
  repudiandae ipsam deleniti tenetur voluptatem placeat. Perspiciatis
  consequatur laboriosam voluptatibus. Ut velit quibusdam cupiditate doloribus
  eaque temporibus consequuntur earum quidem.
</p>
<%- include('partials/footer'); %>
